@import url('https://fonts.googleapis.com/css2?family=Domine&family=Lobster&family=Lobster+Two:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Romanesco&family=Yeseva+One&display=swap');


body{
  font:100% normal Arial, Helvetica;
   background-color: aqua;

}
h5{ 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
 
 }
 .navbar{
  background-color:azure;
  font-family: 'Yeseva One', cursive;


}
.offcanvas-body{
  background: linear-gradient(180deg, aqua 0%, rgb(255, 255, 255) 100%);

}
 
.container{
  margin-top: 80px;
max-width: 800px;
max-height: 850px;
  background: linear-gradient(180deg, aqua 0%, rgb(255, 255, 255) 80%);
display:flex;
justify-content:space-between ;
align-items:center;
flex-wrap: nowrap;

}
@media(max-width:500px){
.container{
  flex-direction:column;
}
}

#lx{
  text-align: justify;

}
.texto{
 text-align: justify;


}
img{

width: 100%;


   }

